
.checkbtn{
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
}

#check{
  display: none;
}

#check:checked ~ .nav-mobile{display: block;}

.nav-mobile {
  display: none;
  position: absolute;
  top: 4.5rem;
  left: 0;
  overflow: hidden;
}


