nav {
 padding: 1.5rem 2rem;
 background-color: #222831;
 color: #fff;
}

.nav-mobile {
 display: none;
}

#check{
  display: none;
}

#check:checked ~ .nav-mobile{display: block;}

.nav-mobile {
  display: none;
  position: absolute;
  top: 4.5rem;
  left: 0;
  overflow: hidden;
  background: #222831;
  z-index: 1;
  width: 200px;
}


